In [1]:
import pandas as pd

df = pd.read_csv('nifty_50.csv')
df = df.dropna()
df = df[['Date', 'Open', 'High', 'Low', 'Close']]

In [2]:
from dateutil.parser import parse

def prevHoliday(prev, cur):
    dt1 = parse(prev)
    dt2 = parse(cur)
    delta = dt2 - dt1
    return 1 if delta.days > 1 else 0

size = df['Date'].size
df['After holiday'] = [0 if i == size - 1 else prevHoliday(df.iloc[i + 1]['Date'], df.iloc[i]['Date']) for i in range(size)]
df

             Date      Open      High       Low     Close  After holiday
0     12 Jan 2024  21773.55  21928.25  21715.15  21894.55              0
1     11 Jan 2024  21688.00  21726.50  21593.75  21647.20              0
2     10 Jan 2024  21529.30  21641.85  21448.65  21618.70              0
3     09 Jan 2024  21653.60  21724.45  21517.85  21544.85              0
4     08 Jan 2024  21747.60  21763.95  21492.90  21513.00              1
...           ...       ...       ...       ...       ...            ...
7011  09 Nov 1995    960.32    960.32    952.13    953.07              0
7012  08 Nov 1995    976.28    976.28    962.98    964.01              0
7013  07 Nov 1995    987.17    987.17    977.05    978.22              0
7014  06 Nov 1995   1001.53   1001.53    988.92    988.92              1
7015  03 Nov 1995    994.20   1000.91    992.69   1000.00              0

[7015 rows x 6 columns]